* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "specimen/Open", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1440px 1fr;
}

h1,
h2,
h3,
h4 {
  font-family: "specimen/Poppins", sans-serif;
}

.main {
  background-color: #fff;
  grid-column: 2/3;
  margin: 10px 100px;
  display: grid;
  gap: 50px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.main-header-img {
  width: 150px;
}

.main-header-freetrial {
  padding: 5px 25px;
  border: 1px solid hsl(0, 100%, 63%);
  border-radius: 50px;
  font-size: small;
  color: hsl(0, 100%, 63%);
}

.main-section {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 40px;
  justify-items: center;
  align-items: center;
}

.main-section-heading {
  font-size: 50px;
}

.main-section-description {
  font-size: 15px;
  width: 30%;
  text-align: center;
}

.main-section-startingtrial {
  padding: 15px 45px;
  background-color: hsl(322, 100%, 66%);
  border: 0px;
  border-radius: 50px;
  box-shadow: 0px 5px 5px lightblue;
  color: hsl(207, 100%, 98%);
  font-weight: bold;
}

.main-section-img {
  width: 1050px;
}

.main-section-statistics {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.main-section-statistics-communities,
.main-section-statistics-messages {
  display: grid;
  gap: 5px;
}

.main-section-statistics-communities-img,
.main-section-statistics-messages-img {
  width: 20px;
}

.main-section-statistics-communities-number,
.main-section-statistics-messages-number {
  font-size: 40px;
  font-weight: bold;
}

.main-section-statistics-communities-description,
.main-section-statistics-messages-description {
  font-size: 15px;
  color: rgba(53, 52, 52, 0.3);
  justify-self: center;
}

.main-footer {
}

.main-section-two-data {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 300px;
}

.main-section-data,
.main-section-three-data {
  background-image: url(images/bg-section-top-desktop-1.svg);
  background-size: cover;
  background-repeat: repeat;
  height: 500px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 400px;
}

.main-section-two-data-info {
  align-self: center;
}

.main-section-data-info,
.main-section-two-data-info,
.main-section-three-data-info {
  width: 400px;
}

.main-section-data-info,
.main-section-three-data-info {
  margin-top: 200px;
}

.main-section-data-img,
.main-section-two-data-img,
.main-section-three-data-img {
  width: 400px;
  align-self: flex-end;
}

.main-last-section {
  align-items: center;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 500px;
  position: relative;
  background-color: #01262f;
  align-content: end;
  color: white;
}

.footer-img {
  color: #183038;
}

footer::before {
  content: "";
  width: 1244px;
  height: 500px;
  background-image: url(images/bg-section-bottom-desktop-2.svg);
  position: absolute;
  bottom: 0;
  left: 0;
  background-repeat: repeat-x;
  background-size: contain;
}

.icons {
  width: 20px;
  height: 20px;
}

.footer-contactus-logo {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(21deg)
    brightness(99%) contrast(104%);
}

.footer-contactus-social .icons {
  background-color: white;
}
